# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.SI Machine Learning.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\a.galland\Desktop\Tout\Cours\Projet Prog\SI Machine Learning\.idea\.idea.SI Machine Learning\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
